@charset "utf-8";

html {
    font-size: 16px;
}

body {
    height: 100%;
}

/* header */
header {
    background: #186AC9;
    align-items: center;
    display: flex;
    height: 85px;
}

#head {
    display: flex;
    align-items: center;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

#container {
    flex: 0 0 80%;
    height: 100%;
}

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    height: 100%;
}

/* アコーディオンメニュー */
.accordion-title {
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    padding: 10px 20px;
    position: relative;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: -10px;
    top: 28%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
    align-items: center;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

.accordion-content {
    display: none;
    position: absolute;
    top: 62px;
}

.accordion-content li {
    font-size: 25px;
    white-space: nowrap;
}

.accordion-lists:nth-child(odd) {
    background-color: #fff;
}

.accordion-lists a:nth-of-type(odd) {
    color: #727272;
}

.accordion-lists:nth-child(2) {
    background-color: #00297e;
}

.accordion-lists a:nth-of-type(2) {
    color: #fff;
}

.accordion-item {
    display: flex;
    align-items: center;
}

.accordion-icon {
    position: absolute;
    display: flex;
    right: 30px;
    height: 50px;
}

.accordion-lists {
    border-bottom: 1px solid #727272;
    border-left: 1px solid #727272;
    border-right: 1px solid #727272;
    border-top: 1px solid #727272;
    text-align: center;
    padding: 30px 40px;
    right: 30px;
}

.accordion {
    position: absolute;
    display: flex;
    right: 120px;
}

.logo {
    width: 100px;
    padding-left: 30px;
}

/* 投稿 */
.new-post {
    height: 120px;
    padding: 20px;
    position: relative;
    border-bottom: 8px solid #e0e0e0;
}

.post-item {
    display: flex;
    position: absolute;
    right: 200px;
}

.post-button {
    padding: 0;
    height: 50px;
    border: none;
}

.post-button img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.post-text {
    border: none;
    outline: none;
    resize: none;
    width: 750px;
    height: 80px;
    padding: 20px 0;
    font-size: 20px;
}

.new-post-icon img {
    width: 50px;
    height: 50px;
    padding: 20px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 20px;
}
