@charset "utf-8";

html {
    font-size: 16px;
    height: 100%;
}

body {
    height: 100%;
}

/* header */
header {
    background: #186AC9;
    align-items: center;
    display: flex;
    height: 85px;
}

#head {
    display: flex;
    align-items: center;
}

/* main content */
#row {
    display: flex;
    flex-flow: row wrap;
    height: 100%;
}

#container {
    /* display: block;
    flex-direction: column; */
    /* height: 100%; */
    flex: 0 0 80%;
}

.btn {
    border: none;
    box-shadow: none;
    border: none;
}

/* サイドバー */
#side-bar {
    display: block;
    position: relative;
    flex: 1 19%;
    border-left: 1px solid #727272;
    min-height: 100%;
}

#confirm {
    border-bottom: 1px solid #727272;
    padding: 10px 20px 30px 20px;
    line-height: 3.5rem;
}

.s-btn {
    background-color: #0067c6;
    border: none;
    box-shadow: none;
    border: none;
    border-radius: 8px;
    width: 60%;
    height: 40px;
    margin-top: 30px;
    margin-left: 20%;
}

.s-btn a {
    color: #fff;
    font-size: 1.1rem;
    margin: 20px;
}

.bar-list {
    display: flex;
    padding-right: 45%;
}

.list-count {
    margin: 0 0 0 auto;
}

.followList-btn {
    background-color: #0067c6;
    border-radius: 8px;
    width: 55%;
    height: 40px;
    margin: 0 0 0 auto;
}

.followList-btn a {
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    margin-left: 20px;
    white-space: nowrap;
    top: -8px;
}

.followerList-btn {
    background-color: #0067c6;
    border-radius: 8px;
    width: 55%;
    height: 40px;
    margin: 0 0 0 auto;
}

.followerList-btn a {
    position: relative;
    color: #fff;
    font-size: 0.9rem;
    margin: 12px;
    white-space: nowrap;
    top: -8px;
}

/* アコーディオンメニュー */
.accordion-title {
    z-index: 10;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    padding: 10px 20px;
    position: relative;
}

.accordion-title::after {
    border-right: solid 2px #fff;
    border-top: solid 2px #fff;
    content: "";
    display: block;
    height: 8px;
    position: absolute;
    right: -10px;
    top: 28%;
    transform: rotate(135deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;
    width: 8px;
    align-items: center;
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(-45deg);
}

.accordion-content {
    z-index: 20;
    display: none;
    position: absolute;
    top: 63px;
}

.accordion-content li {
    /* z-index: 30; */
    font-size: 25px;
    white-space: nowrap;
}

.accordion-lists {
    display: flex;
    background-color: #fff;
}

.accordion-lists a {
    display: block;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color: #727272;
    padding: 30px 40px;
}

.accordion-lists:hover {
    background-color: #00297e;
}

.accordion-lists a:hover {
    color: #fff;
}

.accordion-item {
    display: flex;
    align-items: center;
}

.accordion-icon {
    position: absolute;
    display: flex;
    right: 30px;
    height: 50px;
}

.accordion-lists {
    border-bottom: 1px solid #727272;
    border-left: 1px solid #727272;
    border-right: 1px solid #727272;
    text-align: center;
    right: 30px;
}

.accordion {
    position: absolute;
    display: flex;
    right: 120px;
}

.logo {
    width: 100px;
    padding-left: 30px;
}

/* 投稿 */
.new-post {
    height: 120px;
    padding: 20px;
    position: relative;
    border-bottom: 8px solid #e0e0e0;
}

.post-item {
    display: flex;
    position: absolute;
    right: 200px;
}

.post-button {
    padding: 0;
    height: 45px;
    border: none;
}

.post-button img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.post-text {
    border: none;
    outline: none;
    resize: none;
    width: 750px;
    height: 80px;
    padding: 20px 0;
    font-size: 20px;
}

.new-post-icon img {
    width: 50px;
    height: 50px;
    padding: 20px;
}

::placeholder {
    color: #e0e0e0;
    font-size: 20px;
}

/* 投稿欄 */
.post-chart {
    display: block;
}

.post-block {
    display: block;
    border-bottom: 1px solid #727272;
    padding: 10px 10px 10px 120px;
}

.post-list {
    display: block;
    justify-content: space-around;
}

.post-icon {
    padding: 5px;
    height: 50px;
}

.content {
    text-align: right;
    padding: 10px;
    display: block;
}

.post {
    width: 75%;
    vertical-align: top;
    padding: 10px 10px;
    line-height: 1.1rem;
}

.post-name {
    font-size: 1.1rem;
}

.text {
    font-size: 85%;
}

.post-time {
    text-align: right;
    width: 100%;
    padding: 10px;
    font-size: small;
    vertical-align: top;
}

.js-modal-open {
    padding-right: 60px;
}

.js-modal-open img {
    width: 35px;
}

.post-delete {
    position: relative;
    right: 40px;
}

.post-delete img {
    height: 35px;
    position: absolute;
}

.post-delete img:last-of-type {
    opacity: 0;
    transition: opacity .2s;
    border-radius: 4px;
    height: 45px;
    left: -5px;
    top: -25px;
}

.post-delete:hover img {
    opacity: 1;
}

/* モーダル機能 */
.modal {
    display: none;
    height: 100vh;
    position: fixed;
    top: 0;
    width: 100%;
}

.modal__bg {
    background: rgba(0, 0, 0, 0.3);
    height: 100vh;
    position: absolute;
    width: 100%;
}

.modal_post {
    border: 1px solid #727272;
    outline: none;
    resize: none;
    display: block;
    height: 200px;
    width: 97%;
    font-size: large;
    padding: 10px;
}

.modal__content {
    border: none;
    background: #fff;
    left: 50%;
    padding: 40px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    border-radius: 8px;
}

.up-button {
    border: none;
    background: transparent;
    position: relative;
    padding: 30px;
    display: block;
    margin: auto;
}

.up-button img {
    height: 35px;
    position: absolute;
}

/* 検索機能 */
.search-form {
    display: flex;
    right: 200px;
    padding: 10px 40px;
}

.search-text {
    position: relative;
    outline: none;
    width: 300px;
    border-radius: 4px;
    border: 1.5px solid #727272;
    padding: 16px;
    height: 16px;
}

.search-text::placeholder {
    position: absolute;
    bottom: 10px;
    color: #707070;
    font-size: 1.3rem;
}

.search-button {
    position: relative;
    border: none;
    background: transparent;
    top: 20px;
}

.search-button img {
    border-radius: 4px;
    width: 50px;
    height: 50px;
}

.search-key {
    font-size: 1.5rem;
    position: relative;
    display: flex;
    align-items: center;
    margin: auto;
    top: 10px;
}

/* ユーザー一覧 */
/* table {
    width: 200px;
} */

.user-title {
    margin-right: 100px;
}

.list-block {
    display: block;
    position: relative;
    justify-content: center;
}

.user-list {
    display: flex;
}

.usList-1 {
    margin: 10px;
}

.usList-2 {
    margin: 10px;
}
